.color-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.color-input {
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid var(--shape-button);
}

input[type="radio"]:checked {
  outline: 2px solid var(--brand-light);
}

input[type="radio"]:hover {
  outline: 2px solid var(--brand-light);
}

.brand-light {
  background-color: var(--brand-light);
}

.navy {
  background-color: var(--color-navy);
}

.purple {
  background-color: var(--color-purple);
}

.fuschia {
  background-color: var(--color-fuschia);
}

.pink {
  background-color: var(--color-pink);
}

.red {
  background-color: var(--feedback-danger);
}

.orange {
  background-color: var(--color-orange);
}

.yellow {
  background-color: var(--color-yellow);
}

.lime {
  background-color: var(--color-lime);
}

.green {
  background-color: var(--color-green);
}

.cyan {
  background-color: var(--color-cyan);
}
