#switch-container,
#switch,
#switch button,
#switch span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#switch {
  position: relative;
  width: 64px;
}

#switch button {
  width: 20px;
  height: 20px;
  background: var(--input-stroke) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  left: 3px;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

  transition: left 0.2s ease;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--input-base);
  border: 1px solid var(--input-stroke);

  border-radius: 9999px;
}

#switch.active span {
  background-color: var(--brand-light);
}

#switch.active button {
  left: 42px;
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

.input-wrapper .mode-label {
  position: relative;
  bottom: 20px;
  left: 80px;
}

.file-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-container .file {
}
